* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
    border: 0px dotted #ff0000;
    margin: auto;
    padding: 0px;
}

.body {
    max-width: 1440px;
    font-weight:600;
    width: 80vw;
    }

.header {
    display: flex;
    padding-top: 2vh;
}

.leftblock {
    display: block;
    width: 30%;
    background-color: #4B61D1;
    color: white;
}

.rightblock {
    display: block;
    width: 70%;
    
}

.div {
    border-radius: 2vh 0 0 0;
}

.photo {
    display: block;
    max-width: 80%;
    margin: 5% auto;
}

.headersection {
    display: block;
    max-width: 90%;
}

.h1 {
    text-align: center;
    font-size: 3rem;
}

.profession {
    text-align: center;
    font-size: 1.2rem;
}

.nav {
    display: block;
    position: bottom;
}

.navlist {
    display: flex;
    background-color: #6495ed;
    border-radius: 0 .7vh .7vh 0;
    width: 9.%;
    margin-left: 0;
}

.navitem {
    text-decoration: none; 
}

.main {
    display: flex;
}

.aside {
    display: block;
    margin: 0;
}

.footer {
    display: flex;
    padding-bottom: 2vh;
    
}

.footersectionleft {
    width: 30%;
    margin: 0;
    border-radius: 0 0 0 2vh;
}

.footersectionmain {
    width: 30%;
    margin: auto;
}

.gitlink {
    display: flex;
    width: 30%;
    margin: 50px 20%;
}

.giticon {
    display: block;
    width: 100px;
    height: 100px;
}

.gittext {
    display: block;
    margin-left: 20px;
    color: white;
}

.rsslink {
    display: block;
    width: 50%;
}

.rssicon {
    width: 400px;
}